/* Global */
:root {
  --gradient: linear-gradient(45deg, #039cd5, #1545cb, #6c0cb4, #010520);
  --mainColor: #5012af;
  --darkColor: #24023f;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 500px;
  margin: 50px auto;
  clear: both;
  display: block;
  padding: 0px 0px;
  background-color: #009BFF;
  border-radius: 4px;
}

.card::after {
  clear: both;
  display: block;
  content: "";
}

.card .checkbox-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 40px 0px;
}

.card .uppercase-container .numeric-container .special-characters-container {
  background-color: #0067FF;
}

.input-title {
  clear: both;
  padding: 22px 0px 0px 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, .6);
  font-weight: 300;
}




/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
}


.checkbox-label input:checked~.checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked~.checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.numeric {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.numeric {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.numeric::after {
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.numeric::after {
  border-radius: 50%;
}

.checkbox-label .checkbox-custom.numeric::before {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.numeric::before {
  border-radius: 50%;
}



/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.lowercase {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom..lowercase {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.lowercase::after {
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.lowercase::after {
  border-radius: 50%;
}

.checkbox-label .checkbox-custom.special-lowercase::before {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.special-lowercase::before {
  border-radius: 50%;
}








/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.special-characters {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.special-characters {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.special-characters::after {
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.special-characters::after {
  border-radius: 50%;
}

.checkbox-label .checkbox-custom.special-characters::before {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.special-characters::before {
  border-radius: 50%;
}



/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.uppercase {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.uppercase {
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.uppercase::after {
  border: solid #0067FF;
  border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.uppercase::after {
  border-radius: 50%;
}

.checkbox-label .checkbox-custom.uppercase::before {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.checkbox-label input:checked~.checkbox-custom.uppercase::before {
  border-radius: 50%;
}

body {
  background-image: var(--gradient);
  background-size: 200%;
  background-position: right;
  background-repeat: no-repeat;
  animation: gradientAnimate 12s ease-in infinite alternate;
}

@keyframes gradientAnimate {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

section {
  min-height: 100vh;
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 75px;
  margin-top: 50px;
}



/* Password Display Section */
#displayBox {
  min-height: 225px;
  border: 2px dashed var(--darkColor);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  word-break: break-all;
}

.displayTextBefore {
  opacity: 0.5;
}

.copyBtn {
  display: flex;
  justify-content: flex-end;
}

#copyToClipboard {
  background-color: #ccc;
}

/* Form styles */
.clickMe {
  padding: 10px 15px;
  background-color: var(--mainColor);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 15px;
}

.formContainer {
  min-height: 225px;
  margin-bottom: 15px;
}

#passwordLength {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid var(--darkColor);
  border-radius: 8px;
  margin-bottom: 15px;
}

#generatePassword:hover {
  background-color: var(--darkColor);
}

/* Media queries */
@media screen and (max-width: 991px) {
  .copyBtn {
    justify-content: flex-start;
  }

  .formContainer {
    min-height: auto;
  }

  h1 {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
  }
}